<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Forum{% endblock %}</title>
    {% load static %}

    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Подключение пользовательских стилей (если есть) -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <!-- Подключаем шапку -->
    {% include 'header.html' %}

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Подключение Bootstrap JS (для работы модальных окон, кнопок и других элементов) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
