<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'posts:list' %}">Blog</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link" href="{% url 'posts:my_posts' %}">Мои посты</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'posts:create' %}">Создать пост</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'posts:logout' %}">Выйти</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'posts:login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
